@import "wordpress-theme-header.less";
@import "boilerplate.less";
@import "grid.less";
@import "tables.less";
@import "nice-forms-and-inputs.less";
@import "buttons-simple.less";

/*
	Theme Name: Infinity
	Description: A modern clean style theme with endless scrolling.
	
	Author: Photosites
	Author URI: http://photosites.co.nz
	Version: 1.0
	Tags: custom-menu, editor-style, theme-options, threaded-comments, sticky-post, microformats, rtl-language-support, translation-ready, white, light, responsive, mobile ready, endless scrolling


*/


@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('font/League_Gothic-webfont.eot');
    src: url('font/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/League_Gothic-webfont.woff') format('woff'),
         url('font/League_Gothic-webfont.ttf') format('truetype'),
         url('font/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Quattrocento San font is loaded in header.php  */

/* LESS variables-------------------------------------*/

@regular-font: 'Quattrocento Sans', Helvetica, Arial, sans-serif;

@bold-font: 'Quattrocento Sans' , Helvetica, Arial, sans-serif;

@serif-font: 'Georgia', 'Times Roman', Times, serif;

@text:#555555;

@heading-font:'LeagueGothicRegular', 'Arial Narrow', Helvetica, Arial;

@heading-color:#888888;

@link-color: #a46464;
 


/* !MAIN STYLES---------------------------------------*/

body {
  margin: 0;
  color:@text;
  font-family: @regular-font;
  padding-top: 0;
  font-size: 1em;
  line-height: 1.4;

}

.container{
	width: 100%;
	max-width: 100%;
	padding:0;

}

h1 {
  font-size: 4.6em;
  margin: 0.67em 0;
  text-transform: uppercase;
}

h1.entry-title{
	margin-top:0;
	line-height: 1.05em;
}

h1#site-title{
	margin: 0;
	font-size:3.3em;
	color:white;
	font-family: @heading-font;
	text-transform: uppercase;
	font-weight: normal;
}

#content > h1{
	margin-top:0;
	line-height: 1.05em;
}

article >h1{
	margin-top:0;
	line-height: 1.05em;
}

h2 {
  font-size: 2.8em;
  margin: 0.83em 0;
  line-height:1.1em;
}

h2#site-description{
	margin-top: 0;
	font-family: @regular-font;
	font-size: 1em;
	color:white;
	margin-top:1em;
}

h1 a, h1#site-title a{
	text-decoration: none; 
	color:white;
	&:hover{color: darken(white, 15%);}
}



.entry-title{
	margin-top:0;
}

h3 {
  font-size: 2em;
  margin: 1em 0;
}
h4 {
  font-size: 1.6em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
  font-variant: small-caps;
}

h1, h2, h3, h4{
	color:@heading-color;
	font-family: @heading-font;
	font-weight: normal;
}

h5{color:#666666;}

a {
  text-decoration: none;
  color: @link-color;
}
a:visited {
  color: lighten(@link-color, 15%);
}
a:hover {
  text-decoration: underline;
  color: darken(@link-color, 15%);
}
a:focus {
  outline: thin dotted;
  color: #000000;
}
a:hover,
a:active {
  outline: 0;
}

blockquote{
	font-family: @serif-font;
	font-style: italic;
}

.left-menu{
	width:20%;
	float:left;
	padding-bottom: 4em;
}

.right-content{
	width:80%;
	float: left;
}



hgroup.header-text {
  	text-align: right;
  	background-color: black;
	color:white;
	padding:2em;
	height:210px;
}



.nav{
	margin-top:2em;
	margin-right:2em;
}

nav.navbar ul{
	padding-left: 0;
}

.nav li{
	margin: 1em 0;
	text-align: right;
}

.nav li a{
	font-family: @regular-font;
	font-size: 1.1em;
	text-transform: uppercase;
	color: darken(@text, 15%);
	-webkit-transition:color 0.3s ease-in;  
   -moz-transition:color 0.3s ease-in;  
   -o-transition:color 0.3s ease-in;  
   transition:color 0.3s ease-in;  
	&:hover{color: lighten(@text, 15%);
			text-decoration: none;}
	padding:0.2em;
	margin-bottom: 0.5em;
}

.nav ul.sub-menu{
	margin-top: 0;
	margin-right:1em;
}

.nav ul.sub-menu li{
	list-style-type: disc;
	margin-top:0.3em;

}

.nav ul.sub-menu li a{
	color:lighten(@text, 15%);
}

.small-screen-menu{
	display: none;
}

.menu-main-menu-container{
	display:block;
}

#content{
	padding: 2em;

}

aside.sidebar{
	border-left: 1px solid #cccccc;
}

article.post{
	margin-bottom: 2em;
}

.entry-meta, .entry-utility{
	font-size:0.8em;
}

footer.footer h3{
	font-family: @regular-font;
	font-weight: bold;
	font-size:1.5em;
}

footer.footer ul li, aside.sidebar ul li{
	list-style: none;
}

footer.footer ul ul li, aside.sidebar ul ul li{
	list-style-type: disc;
}

footer.footer ul ul, aside.sidebar ul ul{
	padding-left: 1.6em;
}

footer.footer{
	padding: 2em 4em;
	border-top: 1px #cccccc solid;
	clear: both;
	background-color: #eeeeee;
}

.footer-name{
	font-size: 0.7em;
	padding: 1em;
	clear:both;
	display:block;
}

/*!Gallery Styles -------------*/

.brick img{
    width:100%;
    height: auto;
}

div.ngg-navigation{
	display:none !important;
}

.brick{
	padding: 0;
	width:24.9%;
	float:left;
}
.ngg-galleryoverview{
	margin-top:0 !important;
}

/* Infinite scroll styles ***********/

#infscr-loading em{
	font-family: @heading-font;
	color: lighten(@heading-color, 15%);
	font-size: 2em;
	font-style: normal;

}

#infscr-loading {
	display:block;
	clear:both;
	padding:1em;
	text-align: center;
}

/*!**** COMMENTS SYTLES *****/

#respond{
	padding-top:1em;
	border-top: dotted 1px #cccccc;
}

/*
#comments-title{
	padding-top: 2em;
}
*/

.comment {
	padding:2em 1em 2em 1em;
	position: relative;
	list-style-type: none;
}

#comment{
	clear:both;
	display:block;
}

.comment-reply-link{
	padding:0.2em 0.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #7e7e7e;
}

.comment-author{
	border-bottom: 1px dotted #666666;
	padding-bottom: 0.3em;
}

.comment-meta{
	position: absolute;
	right:0;
	top:1.6em;
	font-family: Georgia, Times, serif;
	font-style: italic;
	padding-top:4px;
	font-size: 0.8em;
}

.form-allowed-tags{
	display:none;
}

/* !======IMSTORE STYLES OVERRIDE========== */

#ims-mainbox{
	font-family: @regular-font !important;
}

.ims-table .row{
	margin:0 !important;
	width:auto !important;
}

/* in between handheld & desktop ****/
@media only screen and (max-width: 55em) {

.left-menu{
	width: 33%;
}

.right-content{
	width:66%;
}

.brick{
	width:50%;
}
}


/*!Handheld *****/
@media only screen and (max-width: 33em) {

.left-menu, .right-content{
	width: 100%;
}

.left-menu{
	padding:0;
}




.brick{
	width: 100%;
}

hgroup.header-text {
  text-align: center;
  padding-bottom: 1em;
  height:auto;
}

.small-screen-menu {
	display:block;
		border-top: 1px solid #cccccc;
}

.small-screen-menu a.menu-toggle{
	font-size: 2.2em;
	font-family: @heading-font;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	display:block;
	padding: 0.4em;
	padding-left: 0.8em;

}



.menu-main-menu-container{
	display: none;
}

.no-js .menu-main-menu-container{
	display:block;
}

.nav{
		padding-right:0;
		margin:0;
	}
	
.nav li{
	text-align: center;
	font-size: 1.2rem;
	border-bottom: 1px solid #cccccc;
	margin: 0;
	padding:0.8em;
	background-color: #f2f2f2;
	display: block;
	&:active{background-color: darken(#f2f2f2, 15%);}
}

.nav li a{
	display:block;
}	

.nav ul.sub-menu{
	margin: 0.8em 0 0 0;
	border-bottom: none;
	
}

.nav ul.sub-menu li{
background-color: darken(#f2f2f2, 5%);
	border-bottom: none;
}


textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
	width:90%;
}
}

/*!Phone (landscape 420px) *****/

@media only screen and (min-width: 30em) and (max-width: 40em) {

}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}
