@import url('css/amazium.css');

@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic);
/*
	Theme Name: Infinity
	Description: A modern clean style theme with endless scrolling.
	
	Author: Photosites
	Author URI: http://photosites.co.nz
	Version: 1.0
	Tags: custom-menu, editor-style, theme-options, threaded-comments, sticky-post, microformats, rtl-language-support, translation-ready, white, light, responsive, mobile ready, endless scrolling


*/
/** START HTML5 Boilerplate CSS **/
/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 21, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 37, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 48, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 57, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 69, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
html {
  font-size: 90%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 82, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
/* line 92, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
body {
  margin: 0;
  color: #555555;
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
  padding-top: 2em;
  font-size: 1em;
  line-height: 1.4;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 106, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 112, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 135, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h1 {
  font-size: 3em;
  margin: 0.67em 0;
}
/* line 140, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h1#site-title {
  margin: 0;
  font-size: 2em;
}
/* line 145, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.grid_8 > h1 {
  margin-top: 0;
}
/* line 149, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h2 {
  font-size: 2em;
  margin: 0.83em 0;
}
/* line 154, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h2#site-description {
  margin-top: 0;
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
  font-size: 1em;
}
/* line 160, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h1 a,
h1#site-title {
  text-decoration: none;
}
/* line 162, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.entry-title {
  margin-top: 0;
}
/* line 166, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
/* line 170, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
/* line 174, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
/* line 178, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
  font-variant: small-caps;
}
/* line 184, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h1,
h2,
h3,
h4 {
  color: #888888;
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
}
/* line 190, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
h5 {
  color: #666666;
}
/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 195, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 201, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
b,
strong {
  font-weight: 700;
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
}
/* line 207, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
i,
em {
  font-style: italic;
}
/* line 212, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
blockquote {
  margin: 1em 40px;
  font-size: 1.1em;
  color: #6f6f6f;
  font-family: 'Georgia', 'Times Roman', Times, serif;
  font-style: italic;
}
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 222, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE 6/7/8/9.
 */
/* line 228, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 235, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 242, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 253, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
/* line 261, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in Safari 4.
 */
/* line 267, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
q:before,
q:after {
  content: '';
  content: none;
}
/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 275, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
small {
  font-size: 80%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 281, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 288, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
sup {
  top: -0.5em;
}
/* line 291, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 300, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
/* line 306, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE 6/7.
 */
/* line 312, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE 7.
 */
/* line 320, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 332, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 343, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 352, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
/* line 361, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
/* line 367, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 377, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 395, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 414, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 427, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
/* line 444, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 454, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 472, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 486, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in Firefox 3+.
 */
/* line 493, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 502, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* !FORMS & INPUTS =================================================== */
/* line 512, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
form {
  margin: 0 0 20px;
}
/* line 515, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 520, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
/* line 531, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
legend small {
  font-size: 15px;
  color: #999999;
}
/* line 535, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
/* line 544, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 550, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
label {
  display: block;
  margin-bottom: 5px;
}
/* line 554, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 583, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
textarea {
  height: auto;
}
/* line 586, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
/* line 612, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 637, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
  cursor: pointer;
}
/* line 649, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
/* line 658, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
/* line 672, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
select {
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
/* line 676, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
select[multiple],
select[size] {
  height: auto;
}
/* line 680, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 688, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.uneditable-input,
.uneditable-textarea {
  color: #999999;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
/* line 698, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
/* line 702, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.uneditable-textarea {
  width: auto;
  height: auto;
}
/* line 706, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
/* line 710, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
/* line 714, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
/* line 718, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}
/* line 723, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
/* ==========================================================================
   Tables
   ========================================================================== */
/* line 733, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
/* line 741, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
table th,
table td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #8c9bab;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: left;
}
/* line 751, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
table th {
  font-weight: bold;
}
/* line 754, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
table thead th {
  vertical-align: bottom;
}
/* line 757, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 763, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
table tbody + tbody {
  border-top: 2px solid #8c9bab;
}
/* line 766, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
table tbody tr td,
table tbody tr th {
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear;
}
/* line 774, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #a9b4c1;
}
/* line 778, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
/* line 782, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.table-bordered {
  border: 1px solid #8c9bab;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
}
/* line 788, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #8c9bab;
}
/* line 792, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
/* line 797, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #c7ced6;
}
/*! main.css  */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 818, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* line 822, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
/* line 829, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 840, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
/* line 846, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
/* line 854, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
textarea {
  resize: vertical;
}
/* !Buttons =================================================== */
/*
.button-hover(@start-hover: #ffffff, @stop-hover: #e5e5e5 ) {
    background: (@start-hover + @stop-hover) / 2;
    background: -webkit-gradient(linear, left top, left bottom, from(@start-hover), to(@stop-hover));
    background: -moz-linear-gradient(center top, @start-hover 0%, @stop-hover 100%);
    background: -moz-gradient(center top, @start-hover 0%, @stop-hover 100%);
}
*/
/* line 878, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.btn,
input[type="submit"],
.comment-reply-link {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 0.3em 0.8em;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  color: #555555;
  text-align: center;
  vertical-align: middle;
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
  background: -moz-linear-gradient(center top, #ffffff 0%, #e5e5e5 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e5e5e5 100%);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  *margin-left: .3em;
}
/* line 902, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.btn:visited,
.btn:hover,
input[type="submit"]:hover,
input[type="submit"]:visited,
.comment-reply-link:hover {
  text-decoration: none;
  background: #dedede;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#c9c9c9));
  background: -moz-linear-gradient(center top, #f2f2f2 0%, #c9c9c9 100%);
  background: -moz-gradient(center top, #f2f2f2 0%, #c9c9c9 100%);
  color: #000000;
}
/* line 912, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
input[type="submit"].btn:hover {
  border-color: #cccccc;
}
/* line 915, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.btn:first-child {
  *margin-left: 0;
}
/* !Icons---------------------------------------------*/
@font-face {
  font-family: 'iconz';
  src: url("font/iconz.eot");
  src: url("font/iconz.eot?#iefix") format('embedded-opentype'), url("font/iconz.woff") format('woff'), url("font/iconz.ttf") format('truetype'), url("font/iconz.svg#iconz") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* line 927, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'iconz';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
  /* Uncomment for 3D effect */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

  /* fix buttons height */

  line-height: 1em;
  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

}
/* line 947, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.icon-menu:before {
  content: '\f0c9';
}
/* '' */
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 952, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*!**** Screen 960px *****/
/* line 963, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
/* line 974, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
a {
  text-decoration: none;
  color: #a2a2a2;
}
/* line 978, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
a:visited {
  color: #7b7b7b;
}
/* line 981, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
a:hover {
  text-decoration: underline;
  color: #555555;
}
/* line 985, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
a:focus {
  outline: thin dotted;
  color: #000000;
}
/* line 989, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
a:hover,
a:active {
  outline: 0;
}
/* line 994, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.header {
  padding-right: 2em;
  border-right: 1px dotted #cccccc;
}
/* line 999, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
hgroup.header-text {
  text-align: right;
}
/* line 1005, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.nav {
  margin-top: 2em;
}
/* line 1009, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
nav.navbar ul {
  padding-left: 0;
}
/* line 1013, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.nav li {
  margin: 1em 0;
  text-align: right;
}
/* line 1018, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.nav li a {
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #2f2f2f;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
  padding: 0.2em;
  margin-bottom: 0.5em;
}
/* line 1026, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.nav li a:hover {
  color: #7b7b7b;
  text-decoration: none;
}
/* line 1032, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.nav ul.sub-menu {
  margin-top: 0;
  margin-right: 1em;
}
/* line 1037, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.nav ul.sub-menu li {
  list-style-type: disc;
  margin-top: 0.3em;
}
/* line 1043, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.nav ul.sub-menu li a {
  color: #7b7b7b;
}
/* line 1047, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.small-screen-menu {
  display: none;
}
/* line 1051, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.menu-main-menu-container {
  display: block;
}
/* line 1055, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
#content {
  padding-bottom: 2em;
}
/* line 1059, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.entry-meta,
.entry-utility {
  font-size: 0.8em;
}
/* line 1063, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
footer.footer ul li,
aside.sidebar ul li {
  list-style: none;
}
/* line 1067, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
footer.footer ul ul li,
aside.sidebar ul ul li {
  list-style-type: disc;
}
/* line 1071, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
footer.footer ul ul,
aside.sidebar ul ul {
  padding-left: 1.6em;
}
/* line 1075, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
footer.footer {
  padding: 2em 0;
  border-top: 1px #cccccc solid;
}
/* line 1080, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.footer-name {
  font-size: 0.7em;
  padding: 1em;
}
/*!**** COMMENTS SYTLES *****/
/* line 1087, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
#respond {
  padding-top: 1em;
  border-top: dotted 1px #cccccc;
}
/* line 1092, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
#comments-title {
  padding-top: 2em;
}
/* line 1096, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.comment {
  padding: 2em 1em 2em 1em;
  position: relative;
  list-style-type: none;
}
/* line 1102, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
#comment {
  clear: both;
  display: block;
}
/* line 1107, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.comment-reply-link {
  padding: 0.2em 0.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #7e7e7e;
}
/* line 1117, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.comment-author {
  border-bottom: 1px dotted #666666;
  padding-bottom: 0.3em;
}
/* line 1122, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.comment-meta {
  position: absolute;
  right: 0;
  top: 1.6em;
  font-family: Georgia, Times, serif;
  font-style: italic;
  padding-top: 4px;
  font-size: 0.8em;
}
/* line 1132, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.form-allowed-tags {
  display: none;
}
/* !======IMSTORE STYLES OVERRIDE========== */
/* line 1138, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
#ims-mainbox {
  font-family: 'Quattrocento Sans', Helvetica, Arial, sans-serif !important;
}
/* line 1142, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.ims-table .row {
  margin: 0 !important;
  width: auto !important;
}
/*!**** Screen Bigger than 960px *****/
@media only screen and (min-width: 1200px) {
  /* line 1150, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .menu-main-menu-container {
    display: block;
  }
}
/*!**** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1156, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .menu-main-menu-container {
    display: block;
  }
}
/*!**** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {
  /* line 1163, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .header {
    padding-right: 0;
    border-right: none;
  }
  /* line 1168, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  hgroup.header-text {
    text-align: center;
    padding-bottom: 1em;
  }
  /* line 1173, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .small-screen-menu {
    display: block;
    border-top: 1px solid #cccccc;
  }
  /* line 1178, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .small-screen-menu a.menu-toggle {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding-top: 0.5em;
    padding-left: 0.8em;
  }
  /* line 1190, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .menu-main-menu-container {
    display: none;
  }
  /* line 1194, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .no-js .menu-main-menu-container {
    display: block;
  }
  /* line 1198, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .nav {
    padding-right: 0;
  }
  /* line 1202, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .nav li {
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 0.8em;
    background-color: #f2f2f2;
    display: block;
  }
  /* line 1212, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .nav li a {
    padding: 0.8em;
  }
  /* line 1216, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .nav ul.sub-menu {
    margin: 0.8em 0 0 0;
    border-bottom: none;
  }
  /* line 1221, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .nav ul.sub-menu li {
    background-color: #ffffff;
    border-bottom: none;
  }
  /* line 1226, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    width: 90%;
  }
}
/*!**** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 1248, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    width: 90%;
  }
}
/*!**** Retina *****/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /* line 1269, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .example {
    margin: 0;
    padding: 0;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 1280, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
/* line 1288, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 1297, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 1304, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 1318, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 1330, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.invisible {
  visibility: hidden;
}
/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
/* line 1334, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.aligncenter {
  display: block;
  margin: 10px auto;
}
/* line 1338, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.alignleft {
  float: left;
  margin: 10px;
}
/* line 1342, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.alignright {
  float: right;
  margin: 10px;
}
/* line 1346, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
.wp-caption {
  border: 1px solid #666;
  text-align: center;
  background: #ccc;
  padding: 10px;
  margin: 10px;
}
/** START WordPress-Defined CSS Classes **/
/** END WordPress-Defined CSS Classes **/
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 1360, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  /* line 1368, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  a,
  a:visited {
    text-decoration: underline;
  }
  /* line 1372, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  a[href]:after {
    content: " (" attr(href) ")";
  }
  /* line 1375, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
                                                                                                                                                                                                                                                                                                                                                               * Don't show links for images, or javascript/internal links
                                                                                                                                                                                                                                                                                                                                                               */
  /* line 1381, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* line 1386, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /* line 1391, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  /* line 1396, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  tr,
  img {
    page-break-inside: avoid;
  }
  /* line 1400, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  /* line 1406, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  /* line 1412, /Users/cavellevenson/Dropbox/Work/SITES/photosites/wp-content/themes/infinity/less/style.less */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
