/*
	Theme Name: Photosites Theme
	Theme URI: http://evensongraphics.co.nz
	Description: Custom theme Photo sites	Author: Cavell Evenson
	Author URI: http://evensongraphics.co.nz/contact/
	Version: 1.0
	
*/

@import url('css/bootstrap.css');

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
   
body{
	background-color: #eeeeee;
}

h1, h2, h3, h4{
	font-family:Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
	color: #515151;
}   

.container{
	margin:0 auto;
}

header[role="banner"]{
	height:150px;
}

#logo{
	height:120px;
	width:200px;
	float:left;
	border:1px solid red;
	margin-top: 10px;
	margin-bottom: 10px;
}


ul.nav{
	list-style-type: none;
}

.navbar .nav > li{
	padding:10px 15px 10px;
	font-family:Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
	text-transform: uppercase;
	font-size: 16px;
	font-size:1rem;
	font-weight: bold;
}
.navbar .nav > li > a{color:#444444;}

#searchform{	
	position:relative;
}

#searchform input#s{
	width:249px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #7e7e7e;
	background:#eeeeee url(images/iconz.svg) no-repeat right center;
}

#searchsubmit{
	border: 1px solid red;
	position: absolute;
	left:200px;
	
}

.screen-reader-text, .author{ border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

aside.sidebar ul.xoxo{
	list-style-type: none;
}


footer[role="contentinfo"]{
	display: block;
	clear:both;
	background-color: #d9d9d9;
	padding: 30px 0;
	color:#666666;
	margin-top:30px;
	border-top:1px solid #a5a5a5;
}

footer[role="contentinfo"] a{
	color:#666666;
	text-decoration: none;
}

footer[role="contentinfo"] a:hover{
	color:#2b2b2b;
	text-decoration: underline;
}

footer[role="contentinfo"] h3{
	
	border-bottom: 1px dotted #666666;
}


footer[role="contentinfo"] ul.xoxo{
	list-style-type: none;

}


footer[role="contentinfo"] ul li ul{
	list-style-type: disc;
}



.footer-blog-name{
	float: left;
	margin-top: 40px;
}

.credit{
	float:right;
	margin-top: 40px;
}

@media (max-width: 767px){
footer[role="contentinfo"] {
padding-left: 20px;
padding-right: 20px;
width:100%;
}
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px }



/** START WordPress-Defined CSS Classes **/
.wp-caption-text{}
.gallery-caption{}
.bypostauthor{}
.sticky{}
/** END WordPress-Defined CSS Classes **/
