@import url('css/amazium.css');
@import url('http://fonts.googleapis.com/css?family=Permanent+Marker|Cutive+Mono');
/*
	Theme Name: Old Photos
	Description: Like old polaroids. A responsive, mobile ready theme to showcase you photography. Sidebar and footer widget areas. The ability to choose which blog posts to display on the front page.	

	
	Author:  PhotoSites
	Author URI: http://photosites.co.nz
	Version: 1.0
	Tags: custom-menu, editor-style, theme-options, threaded-comments, translation-ready, responsive, mobile ready, thumbnails, old school


*/
/** START HTML5 Boilerplate CSS **/
/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
  color:@text;
  font-family: @regular-font;
  padding-top: 2em;
  font-size: 1em;
  line-height: 1.4;
  background: url(images/lightpaperfibers.jpg) repeat;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
 


@regular-font: 'Cutive Mono', 'Times Roman', Times, serif;

@heading-font: 'Permanent Marker', cursive;

@serif-font: 'Cutive Mono', 'Times Roman', Times, serif;

@hand-writing: 'Permanent Marker', cursive;

h1, h2, h3, h4{
	color:@heading-color;
	font-family: @heading-font;
	font-weight: bold;
} 
 
h1 {
  font-size: 2.4em;
  margin: 0.67em 0;
}

h1#site-title{
	margin: 0;
	font-size:2em;
	font-weight: bold;
}

article.post > h1{
	margin:0;
}

h2 {
  font-size: 1.8em;
  margin: 0.83em 0;
}

h2#site-description{
	margin-top: 0;
	font-family: @heading-font;
	font-size: 1em;
}

h1 a, h1#site-title a{text-decoration: none; color:@heading-color;}

.entry-title{
	margin-top:0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
  font-variant: small-caps;
}


h5{color:#666666;}

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
  font-size: 1.1em;
  color: #da0202;
  font-family: @serif-font;
  font-style: italic;
  font-weight: bold;
}
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}

/* !FORMS & INPUTS =================================================== */
form {
  margin: 0 0 20px;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
legend small {
  font-size: 15px;
  color: #999999;
}
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
  display: block;
  margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

textarea {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
  cursor: pointer;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}




select {
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
select[multiple],
select[size] {
  height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
  color: #999999;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea {
  width: auto;
  height: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}
.radio,
.checkbox {
  min-height: 18px;
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

/* ==========================================================================
   Tables
   ========================================================================== */

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
table th,
table td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #8c9bab;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: left;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #8c9bab;
}
table tbody tr td,
table tbody tr th {
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #a9b4c1;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #8c9bab;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #8c9bab;
}
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #c7ced6;
}

/*! main.css  */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* !Buttons =================================================== */



.button-color{
    background: rgba(255,255,255,0.61);

}

/*
.button-hover(@start-hover: #ffffff, @stop-hover: #e5e5e5 ) {
    background: (@start-hover + @stop-hover) / 2;
    background: -webkit-gradient(linear, left top, left bottom, from(@start-hover), to(@stop-hover));
    background: -moz-linear-gradient(center top, @start-hover 0%, @stop-hover 100%);
    background: -moz-gradient(center top, @start-hover 0%, @stop-hover 100%);
}
*/

.btn, input[type="submit"] {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 0.3em 0.8em;
  margin-bottom: 0;
  font-family: @heading-font;
  font-size: 1em;
  line-height: 1.5em;
  color: @text;
  text-align: center;
  vertical-align: middle;
  .button-color;
   border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  cursor: pointer;
  *margin-left: .3em;
}
.btn:visited,
.btn:hover,
input[type="submit"]:hover,
input[type="submit"]:visited
 {
  text-decoration: none;
  background: rgba(255,255,255,0.9);
  color:#000000;
}
input[type="submit"].btn:hover {
  border-color: #cccccc;
}
.btn:first-child {
  *margin-left: 0;
}

/* !Icons---------------------------------------------*/
@font-face {
  font-family: 'iconz';
  src: url("font/iconz.eot");
  src: url("font/iconz.eot?#iefix") format('embedded-opentype'), url("font/iconz.woff") format('woff'), url("font/iconz.ttf") format('truetype'), url("font/iconz.svg#iconz") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class^="icon-"]:after,
[class*=" icon-"]:before, [class*=" icon-"]:after {
  font-family: 'iconz';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-tags:before { content: '\e70d'; } /* '' */
.icon-comment-4:before { content: '\e8b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-folder-2:before { content: '\e8b8'; } /* '' */
.icon-calendar-3:before { content: '\e8bf'; } /* '' */
.icon-bookmark-1:before { content: '\e902'; } /* '' */
.icon-right-dir-2:after { content: '\e972'; } /* '' */
.icon-left-dir-1:before { content: '\e971'; } /* '' */
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*!**** Screen 960px *****/

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

@text:#000000;

@heading-color:#b40000;

@red-color:#c50000;

a {
  text-decoration: none;
  color: #0008c6;
}
a:visited {
  color: darken(#0008c6, 15%);
}
a:hover {
  text-decoration: underline;
  color: @heading-color;
}
a:focus {
  outline: thin dotted;
  color: #000000;
}
a:hover,
a:active {
  outline: 0;
}

.header{

}

hgroup.header-text {
width: 30%;
margin: 0;
float:left;
}



.small-screen-menu{
	display: none;
}

.menu-main-menu-container{
	display: block;
}


nav#access ul li a {
font-weight: bold;
	text-transform: uppercase;
	color: darken(@text, 15%);
	-webkit-transition:color 0.3s ease-in;  
   -moz-transition:color 0.3s ease-in;  
   -o-transition:color 0.3s ease-in;  
   transition:color 0.3s ease-in;  
	&:hover{color: lighten(@text, 15%);
			text-decoration: none;}
	padding:0.2em;
	display:block;
	margin: 0 1em;
}
nav#access ul li {
	display: inline-block;
  position: relative;
  z-index: 9999;
}

.ie7 nav#access ul li{
	float:left;
}

nav#access{
	width:67%;
	float:left;
	padding: 0.5em;
}

ul.nav {
  margin: 0;
  background-colour:#ffffff;
  padding-left: 0;
}
#access ul ul {
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  margin: 0;
  position: absolute;
  left: 0;
  width: 188px;
  z-index: 99999;
  background-color: #ffffff;
  padding-left: 10px;
}
#access ul ul ul {
  left: 100%;
  top: 0;
}
#access ul ul li a {
  height: auto;
  line-height: 1.4em;
  padding: 10px 10px;
  width: 188px;
  float: none;
  margin:0;
}
#access ul li:hover > ul {
  display: block;
}

.menu-main-menu-container{
	display:block;
}

aside.sidebar ul{
	padding-left:0;
	font-weight: bold;
}

#content{
	padding: 2em 0;
	background:url('images/brown-paper-bg.jpg') repeat;
	border-top: 1px #cccccc solid;
	border-bottom: 1px #cccccc solid;
}


.post-image-wrapper{
	float: right;
	
}

article.post{
	position: relative;
}


h2.entry-title a, h1.entry-title{
	position: static;
	line-height: 1.7em;
	display: block;
	color: @red-color;
	font-family: @hand-writing;
	font-weight: normal;
	border-bottom: 2px solid @red-color;	
	margin:0;
	&:hover{
		text-decoration: none;
		color: darken(@red-color, 30%);
	}
}


.post{
	margin-bottom: 3em;
}



.read-more{
	display:block;
	font-family: @hand-writing;
	text-transform: uppercase;
	padding-top:0.5em;
	text-align: right;
	border-top: 2px dotted #000000;
	margin-top:0.5em;
	margin-bottom: -0.7em;
	clear:both;
}


nav.navigation{
	padding:0.5em;
}

.nav-previous{
	display: inline-block;
}

.nav-next{
	float:right;
}

footer.footer ul li, aside.sidebar ul li{
	list-style: none;
}

footer.footer ul ul li, aside.sidebar ul ul li{
	list-style-type: disc;
}

footer.footer ul ul, aside.sidebar ul ul{
	padding-left: 1.6em;
}

footer.footer{
	padding: 2em 0;
}

.footer-name{
	font-size: 0.7em;
	padding: 1em;
}

/*!**** COMMENTS SYTLES *****/

#respond{
	padding-top:1em;
	border-top: dotted 2px #000000;
}

#comments-title{
	padding-top: 2em;
}

.comment {
	padding:2em 1em 2em 1em;
	position: relative;
	list-style-type: none;
}

#comment{
	clear:both;
	display:block;
}

.comment-reply-link{
	padding:0.2em 0.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.comment-author{
	border-bottom: 2px dotted #000000;
	padding-bottom: 0.3em;
}

.entry-meta, .entry-utility{
	color: lighten(@text, 40%);
	font-size:0.8em;
	font-weight: bold;
}



.comment-meta{
	font-style: italic;
	padding-top:4px;
	font-size: 0.8em;
}

.form-allowed-tags{
	display:none;
}


/* !======NEXTGEN SINGLE PIC STYLE===========*/

.ngg-singlepic{
margin: 25px 5px 25px 20px;
	background: #fff; border-style: solid; border-color: #fff; border-width: 20px 20px 40px 20px;
 zoom: 1; box-shadow: 1px 1px 16px rgba(0,0,0,0.6);
 box-sizing: border-box; width:95%;
}

.single-pic{
	position: relative;
}

.single-pic span.tape{
position:absolute;
width:140px;
height:50px;
background-color:#FFF;
background-color:rgba(255,255,255,0.6);
z-index:10;
top:-10px;
left:4px;
-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
-webkit-transform: rotate(-10deg); 
-moz-transform: rotate(-10deg);	
transform: rotate(-10deg);	

}

/*-----Iphone template styles-----------------*/
.ngg-gallery-thumbnail-iphone{
	padding:15px 15px 35px 15px;
	margin:15px;
	background-color:#FFFFFF;
	border:1px solid #A9A9A9;
	display:block;  
	position:relative;
	-webkit-box-shadow: 0 4px 6px 1px rgba(0,0,0,0.4);
-moz-box-shadow: 0 4px 6px 1px rgba(0,0,0,0.4);
box-shadow: 0 4px 6px 1px rgba(0,0,0,0.4);
        min-height: 200px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 15px 5px;
        zoom: 1;
        *display: inline;
        _height: 200px;
}

span.tape{
position:absolute;
width:70px;
height:40px;
background-color:#FFF;
background-color:rgba(255,255,255,0.6);
z-index:10;
left:42%;
-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
box-shadow: 0 1px 1px 1px rgba(0,0,0,0.2);
-webkit-transform: rotate(-5deg); 
-moz-transform: rotate(-5deg);	
transform: rotate(-5deg);	

}

.ngg-gallery-thumbnail-box-iphone {
	
        min-height: 200px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 15px 5px;
        zoom: 1;
        *display: inline;
        _height: 200px;
        position:relative;
}

div.ngg-gallery-thumbnail-box-iphone:nth-child(2n+3){
-webkit-transform: rotate(-2deg); 
-moz-transform: rotate(-2deg);	
transform: rotate(-2deg);	
}

div.ngg-gallery-thumbnail-box-iphone:nth-child(3n+3){
-webkit-transform: rotate(3deg); 
-moz-transform: rotate(3deg);	
transform: rotate(3deg);	
}

span.caption{
	font-family: 'Permanent Marker', cursive;
	clear:both;
	display:block;
	text-align: center;
	margin: 2px;
	font-size:85%;
}

/* !======IMSTORE STYLES OVERRIDE========== */

#ims-mainbox{
	font-family: @regular-font !important;
}


/*!**** Screen Bigger than 960px *****/
@media only screen and (min-width: 1200px) {
.menu-main-menu-container{
	display:block;
}
}
/*!**** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {
.menu-main-menu-container{
	display:block;
}
}
/*!**** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {

  .header{
	border-bottom: none;
}

hgroup.header-text {
  text-align: center;
  padding-bottom: 1em;
  width:auto;
}

nav.navbar{
	width:auto;
	clear:both;
}

.small-screen-menu {
	display:block;
		border-top: 1px solid #cccccc;
}

#access .small-screen-menu a.menu-toggle{
	font-size: 1.6em;
	font-weight: bold;
	text-decoration: none;
	display:block;
	padding-top: 0.5em;
	padding-left: 0.8em;

}

  nav#access ul li {
    float: none;
    display: block;
    clear: both;
    border-bottom: 1px solid #cccccc;
    background-color:#eeeeee;
 /*    padding-left: 20px; */
  }
  
  nav#access ul li a{
  	  margin:0;
  	  padding:12px;
  	  font-size: 1.2em;
  }
  
  #access ul ul {
    position: static;
    display: block;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }
  #access ul ul a {
    width: auto;
    margin:0;
  }
  nav#access ul.sub-menu a {
    padding-left: 30px;
  }
  nav#access ul.sub-menu {
    padding-left:0;
  }
  
.menu-main-menu-container{
display: none;
width: auto;
margin: 10px 0;
padding-left: 0;
}

.no-js .menu-main-menu-container{
	display:block;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
	width:90%;
}

}
/*!**** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input{
	width:90%;
}
}
/*!**** Retina *****/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.wp-caption {
  border: 1px solid #666;
  text-align: center;
  background: #ccc;
  padding: 10px;
  margin: 10px;
}
/** START WordPress-Defined CSS Classes **/
/** END WordPress-Defined CSS Classes **/
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
                                                                                                                                                                                                                                                                                                                                                             * Don't show links for images, or javascript/internal links
                                                                                                                                                                                                                                                                                                                                                             */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
