
/***** Screen 960px *****/


.grid_1 {
    width:7.41666666667%;float:left; display:inline;-moz-box-sizing: border-box; box-sizing: border-box;  padding-right:2%;
}
.grid_2 {
    width:15.8333333333%;float:left; display:inline;-moz-box-sizing: border-box; box-sizing: border-box; padding-right:2%;
}
.grid_3 {
    width:24.25%;float:left; display:inline;-moz-box-sizing: border-box;box-sizing: border-box; padding-right:2%;
}
.grid_4 {
    width:32.6666666667%;float:left; display:inline;-moz-box-sizing: border-box;box-sizing: border-box; padding-right:2%;
}
.grid_5 {
    width:41.0833333333%;float:left; display:inline;-moz-box-sizing: border-box;box-sizing: border-box; padding-right:2%;
}
.grid_6 {
    width:49.5%;float:left; display:inline;-moz-box-sizing: border-box; box-sizing: border-box; padding-right:2%;
}
.grid_7 {
    width:57.9166666667%;float:left; display:inline;-moz-box-sizing: border-box; box-sizing: border-box; padding-right:2%;
}
.grid_8 {
    width:66.3333333333%;float:left; display:inline;-moz-box-sizing: border-box;box-sizing: border-box; padding-right:2%;
}
.grid_9 {
    width:74.75%;float:left; display:inline;-moz-box-sizing: border-box;box-sizing: border-box; padding-right:2%;
}
.grid_10 {
    width:83.1666666667%;float:left; display:inline;-moz-box-sizing: border-box;box-sizing: border-box; padding-right:2%;
}
.grid_11 {
    width:91.5833333333%;float:left; display:inline;-moz-box-sizing: border-box;box-sizing: border-box; padding-right:2%;
}
.grid_12 {
    margin-left:0;
    width:100%;-moz-box-sizing: border-box; box-sizing: border-box;
}
	
.offset_1							{ margin-left:7.41666666667%; }
.offset_2							{ margin-left:15.8333333333%; }
.offset_3 							{ margin-left:24.25%; }
.offset_4 							{ margin-left:32.6666666667%; }
.offset_5 							{ margin-left:41.0833333333%; }
.offset_6 							{ margin-left:49.5%; }
.offset_7 							{ margin-left:57.9166666667%; }
.offset_8 							{ margin-left:66.3333333333%; }
.offset_9							{ margin-left:74.75%; }
.offset_10							{ margin-left:83.1666666667%; }
.offset_11							{ margin-left:91.5833333333%; }





/***** Handheld *****/
@media only screen and ($feature: $bp3) {


.container .row 							{ margin:0; width:auto; display:inline-block; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {width:100%}		

.offset_1,
.offset_2,
.offset_3,
.offset_4,
.offset_5,
.offset_6,
.offset_7,
.offset_8,
.offset_9,
.offset_10,
.offset_11							{ margin-left:0; }

			
}	 


