// Fix Fixed width for IE
$fixed-width: 72em;
$fix-mqs: $fixed-width;

// Import Main Stylesheet
@import "style.scss"; 

@import "partials/bp2"; 
@import "partials/bp3";
@import "partials/bp4";
@import "partials/grid-horizontal";
@import "partials/bp5";
@import "partials/bp6";

.container{
	width: $fixed-width;
}




