/*
	Theme Name: Reach
	Description: A theme with a full sized frint page image.
	
	Author: PhotoSites
	Author URI: http://photosites.co.nz
	Version: 1.0
	Tags: custom-menu, editor-style, theme-options, threaded-comments, translation-ready,responsive, mobile ready
	*/

// Define the ‘atmosphere’ of your design in this config file
@import "config";

// Choose between reset and normalise
@import "partials/reset";
// @import "partials/normalise";

// Sass mixins
@import "partials/mixins";

// Site-wide styles
@import "partials/site";

// Layout styles
@import "partials/layout";

// Misc. HTML elements
@import "partials/elements";

// Atmosphere
@import "partials/typography";
@import "partials/colour";
@import "partials/texture";



// Utilities
// @import "modernizr";


// Configure which Sass partials, and therefore CSS,
// you want to include in your project. You don’t need to remove the
// references, nor delete the files from your project (you may need
// them later,) simply comment them out using // 


/*
@import "partials/bootstrap-accordion";
@import "partials/bootstrap-alerts";
@import "partials/bootstrap-breadcrumbs";
@import "partials/bootstrap-carousel";
@import "partials/bootstrap-hero";
@import "partials/bootstrap-media";
@import "partials/bootstrap-modal";
*/
@import "partials/bootstrap-navs";
@import "partials/bootstrap-navbar";
/* @import "partials/bootstrap-pager"; */
@import "partials/bootstrap-pagination";
/* @import "partials/bootstrap-popover"; */
@import "partials/bootstrap-tables";
/* @import "partials/bootstrap-tooltip"; */
/* @import "partials/bootstrap-wells"; */
@import "partials/bootstrap-forms";
/* @import "partials/bootstrap-form-help"; */
@import "partials/bootstrap-form-horizontal";
@import "partials/bootstrap-form-search";
@import "partials/bootstrap-form-buttons";


// Choose a responsive navigation pattern, or add a brand new one
// @import "partials/navigation-toggle";
// @import "partials/navigation-footer-anchor";
// @import "partials/navigation-left-nav-flyout";
@import "partials/navigation-responsive-nav";

@media only #{$media} and ($feature: $bp2) {
@import "partials/bp2"; }

@media only #{$media} and ($feature: $bp3) {
@import "partials/bp3";
@import "partials/grid-vertical" }

@media only #{$media} and ($feature: $bp4) {
@import "partials/bp4";
@import "partials/grid-horizontal" }

@media only #{$media} and ($feature: $bp5) {
@import "partials/bp5"; }

@media only #{$media} and ($feature: $bp6) {
@import "partials/bp6"; }

$fix-mqs: false !default;
$fixed-width: $bp6;

// !Mixins for media queries
@mixin mq($breakpoint) {
  @if $breakpoint == smallest {
	  @if $fix-mqs {
	        // ...and if we should apply these rules...
	        @if $fix-mqs >= $fixed-width {
	            // ...output the content the user gave us.
	            @content;
	        }
	    }
	    @else {
    @media only #{$media} and ($feature: $bp2) {@content;}
	}
	}
  @else if $breakpoint == small {
	  @if $fix-mqs {
	        // ...and if we should apply these rules...
	        @if $fix-mqs >= $fixed-width {
	            // ...output the content the user gave us.
	            @content;
	        }
	    }
	    @else {
	@media only #{$media} and ($feature: $bp3) {@content;}
	}
	}
	@else if $breakpoint == medium {
	  @if $fix-mqs {
	        // ...and if we should apply these rules...
	        @if $fix-mqs >= $fixed-width {
	            // ...output the content the user gave us.
	            @content;
	        }
	    }
	    @else {
   	 @media only #{$media} and ($feature: $bp4) {@content;}
	}
	}
	@else if $breakpoint == large {
	  @if $fix-mqs {
	        // ...and if we should apply these rules...
	        @if $fix-mqs >= $fixed-width {
	            // ...output the content the user gave us.
	            @content;
	        }
	    }
	    @else {
   	 @media only #{$media} and ($feature: $bp5) {@content;}
	}
	}
	@else if $breakpoint == largest {
	  @if $fix-mqs {
	        // ...and if we should apply these rules...
	        @if $fix-mqs >= $fixed-width {
	            // ...output the content the user gave us.
	            @content;
	        }
	    }
	    @else {
   	 @media only #{$media} and ($feature: $bp6) {@content;}

   	 	}
	}
}
   	 	

// !Main styles =======================

p.chromeframe{
	@include chromeframe;
}

.container{
	padding: 0 2em;
	max-width: $maxwidth;
	@include clearfix;
	margin: 0 auto;
}

h1, .h1{
	@include font-size(34);
}




h2, .h2 {
	@include font-size(28);
}

header.header{
	padding-top:0.5em;
	padding-bottom: 0.5em;
	@include clearfix;
	background-color: darken($bodycolor, 2%);
	margin-bottom: 2em;
	border-bottom: lighten($bodycolor, 10%) 1px solid;
	width: 100%;
	position: relative;
	@include mq(medium){
	z-index: 999;
	position: fixed;
	}
}



.logo{
	width: 230px;
	height: 80px;
	display:block;
	margin:0 auto;
	@include mq(medium) {
		float:left;
		margin:0;
		}
}


.header-text{
	width: 300px;
	display:block;
	margin:0.5em auto;
	font-weight: 800;
	@include font-size(20);
	@include mq(medium) {
		float:left;
		margin:0.6em;
		}
}


#skip{
	@include visuallyhidden;
}

#navigation-toggle{
	@include mq(small){
		background-color: transparent;
		text-align: center;
	}
	@include mq(medium){
		float:left;
		width: 65%;
		clear:none;
		margin-left: 2em;
		background-color: transparent;
	}
}

#nav-toggle{
	position: absolute;
	right:0;
	top: 0;
}

#content{
	@include mq(medium){
		padding-top: 10em;
		}	
}

// Front page image
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.front-page-content{
	background: $black;
	background: rgba(0,0,0,0.4);
	padding:1em;
	h1,h2,h3,h4,p{color: lighten($textcolor, 15%);
	}
	text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}


aside.sidebar{
	@include mq(medium){
		padding-left: 2em;
		border-left: 1px solid $textcolor;
	}
}

aside.sidebar ul{
	list-style: none;
}

#nav-below{
	padding:1em;
	@include clearfix;
}

#nav-below a{
	@extend .btn;
	@extend .btn-success;
}

#nav-below a[rel="next"]{
	float:right;
}

.post-edit-link{
	@extend .btn;
	@extend .btn-inverse;
	margin:1em;
	}
	
#respond, .wpcf7{
	@include mq(medium){
		width: 80%;
	}
	@include mq(large){
		width:60%;
	}
}

.entry-meta, .entry-utility{
	font-size:80%;
	margin-bottom: 1em;
}

.entry-utility {
	border-top: 1px solid $textcolor;
}

.comment-meta {
	font-size: 80%;
	font-style: italic;
	margin-top:0.5em;
	margin-bottom: 1em;
}

ol.comment-numbers {
	counter-reset: li;
	list-style: none;

}

ol.comment-numbers > li:before {
	content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    font-family: $altfontfamily;
    font-size:2.6em;
    font-weight: bold;
    color: $lightneutralcolor;
    position: absolute;
	top: 0;
	left: -1em;

}

li.comment {
	margin-left:4em;
	position: relative;
	}
	
ul.children {
	border-left: 6px solid $neutralcolor;
	li.comment{
		margin-left: 1em;
	}
}	

.form-allowed-tags{
	@include hidden;
}

#submit{
	@extend .btn;
}

input[type="submit"]{
	@extend .btn;
}

.wp-post-image{
	width: 100%;
	height: auto;
	@include mq(small){
		float: left;
		margin: 0 1em 1em 0;
		width: auto;
	}
}

footer[role="contentinfo"] {
	background-color: darken($bodycolor, 2%);
	border-top: lighten($bodycolor, 10%) 1px solid;
	margin-top: 2em;
	text-align: left;
	@include clearfix;
	ul{
		list-style: none;
		margin: 0;
	}
	h3{
		border-bottom: 3px solid $neutralcolor;
	}
}

body.home footer[role="contentinfo"]{
	display: none;
}

// HiDPI
@mixin hidpi {
	@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	@content; }
}


// !End Main styles =======================
@media print {
@import "partials/print"; }



