@import url('css/bootstrap.css');
/*
Theme Name: Photosites Default Theme
	Theme URI: http://evensongraphics.co.nz
	Description: PhotoSites Default Theme. A responsive, mobile ready theme to showcase you photography. Inbuilt front page slider. Sidebar and footer widget areas.	
	Author: PhotoSites
	Author URI: http://evensongraphics.co.nz/contact/
	Version: 1.0
	Tags: light, white, black, gray, one-column, two-columns, right-sidebar, flexible-width, custom-colors, custom-logo, custom-menu, editor-style, full-width-template,  post-formats,  theme-options, responsive design.
	
*/

	
*/
/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}
/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
.shadow {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
body {
  background-color: #eeeeee;
}
h1,
h2,
h3,
h4,
.welcome {
  font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
  color: #515151;
}
.container {
  margin: 0 auto;
}
header[role="banner"] {
  height: 150px;
}

.header-text{
	width:45%;
	float:left;
}
.header-logo{
	float:left;
	margin-right:20px;
}

h1#site-title{
	margin-top:25px;
}

h2#site-description{
	font-size: 16px;
	line-height: 18px;
}

.navbar {
  clear: both;
}
ul.nav {
  list-style-type: none;
}
.navbar .nav > li {
  padding: 10px 15px 10px;
  font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}
.navbar .nav > li > a {
  color: #444444;
}
/*
#fp-slider {
  border: 1px solid #444444;
  background-color: #000000;
  height: 400px;
  display: block;
  overflow: hidden;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -ms-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
*/
.welcome {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 35px;
  display: block;
  clear: both;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  line-height: 1.2em;
  text-align: center;
  margin: 20px 0;
}
#searchform {
  position: relative;
}
#searchform input#s {

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #7e7e7e;
  background: #f9f9f9;
}
#searchsubmit {
  position: absolute;
  right: 0;
  height: 30px;
}
div.search-header {
  width: 300px;
  float: right;
  margin-top: 50px;
}
.screen-reader-text,
.author,
.meta-prep,
.meta-sep {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
aside.sidebar {
  background-color: #f7f7f7;
  padding-bottom: 20px;
  border: 1px solid #cccccc;
  float: right;
  width: 95%;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
aside.sidebar a {
  color: #595959;
}
aside.sidebar .widget-title {
  background: #ffffff;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #ffffff 0%, #eeeeee 100%);
  /* W3C */

  text-align: center;
  /* box-shadow: 0px 1px 3px black; */

  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  width: 100%;
}
aside.sidebar ul.xoxo {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
aside.sidebar ul.xoxo ul {
  padding: 0 10px 20px 20px;
}

.attachment-thumbnail{
	  float: left;
  margin: 0 10px 10px 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  border:4px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.category-header{
	padding-bottom: 20px;
}

/* !Comments styles */

#comments-title {
  margin-top: 30px;
}
.entry-meta {
  margin-bottom: 15px;
  margin-top: -5px;
}
.entry-utility,
.entry-date,
.commentmetadata {
  font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
  font-variant: small-caps;
  padding-top: 5px;
  border-top: dotted 1px #444444;
}
.entry-utility a,
.entry-date a,
.commentmetadata a {
  color: #444444;
}
.entry-utility a:hover,
.entry-date a:hover {
  text-decoration: underline;
}
.entry-date {
  border: none;
}
li.comment {
  margin-bottom: 20px;
  padding: 15px;
}
li.thread-odd {
  background-color: #e0e0e0;
}
ul.children {
  list-style-type: none;
}
ul.children li {
  border-top: 1px dotted #444444;
}
li.comment article {
  position: relative;
  margin-bottom: 10px;
}
.commentmetadata {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}
.comment-author {
  font-family: Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
ol.comments-list {
  list-style-type: none;
}
textarea#comment {
  width: 80%;
}
.form-allowed-tags {
  display: none;
}

/* !contact from 7 style---------------- */

div.wpcf7 input[type="text"], div.wpcf7 textarea{
	width:300px !important;
}

footer[role="contentinfo"] {
  display: block;
  clear: both;
  background-color: #d9d9d9;
  padding: 30px 0;
  color: #666666;
  margin-top: 30px;
  border-top: 1px solid #a5a5a5;
}
footer[role="contentinfo"] a {
  color: #666666;
  text-decoration: none;
}
footer[role="contentinfo"] a:hover {
  color: #2b2b2b;
  text-decoration: underline;
}
footer[role="contentinfo"] h3 {
  border-bottom: 1px dotted #666666;
}
footer[role="contentinfo"] ul.xoxo {
  list-style-type: none;
}
footer[role="contentinfo"] ul li ul {
  list-style-type: disc;
}
.footer-blog-name {
  float: left;
  margin-top: 40px;
}
.credit {
  float: right;
  margin-top: 40px;
}

/*!=====IMSTORE OVERRIDES============*/

#ims-mainbox .ims-table .row{
	width:auto !important;
	margin: 0 !important;
}




@media (max-width: 767px) {
  li.comment article {
    position: inherit;
  }
  footer[role="contentinfo"] {
    padding-left: 20px;
    padding-right: 20px;
    /* width:100%; */
  
  }
  .header-text{
	width:100%;
}
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
.aligncenter {
  display: block;
  margin: 0 auto;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  border:4px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.alignleft {
  float: left;
  margin: 0 10px 10px 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  border:4px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.alignright {
  float: right;
  margin: 0 0 10px 10px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  border:4px solid white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.wp-caption {
  border: 1px solid #666;
  text-align: center;
  background: #ccc;
  padding: 10px;
  margin: 10px;
}
/** START WordPress-Defined CSS Classes **/
/** END WordPress-Defined CSS Classes **/
